.holder {
    width: 900px;
    height: 250px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    font-size: 46px;
    line-height: 2.7;
    font-weight: 500;
    border: solid black 6px;
    border-radius: 50px 50px 0 0;
}
.item:first-child {
    grid-area: 1 / 1 / 2 / 4;
    background-color: #fd644d;
    text-align: center;
    border-radius: 44px 0 0 0;
}
.item:nth-child(2) {
    grid-area: 2 / 3 / 3 / 5;
    background-color: #4983b2;
    text-align: center;
}
.item:nth-child(3) {
    grid-area: 2 / 1 / 3 / 3;
    background-color: #663797;
    text-align: center;
}
.item:nth-child(4) {
    grid-area: 2 / 5 / 3 / 7;
    background-color: #0e7f12;
    text-align: center;
}
.item:last-child {
    grid-area: 1 / 4 / 2 / 7;
    background-color: #fda429;
    text-align: center;
    border-radius: 0 44px 0 0;
}